<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2005-2013 Alfresco Software Limited.
  
  This file is part of Alfresco Mobile for Android.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.alfresco.mobile.android.application"
    android:versionCode="12"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AlfrescoApplication"
        android:configChanges="orientation|keyboardHidden"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_alfresco_logo"
        android:label="@string/app_name"
        android:logo="@drawable/ic_alfresco"
        android:theme="@style/alfrescotheme" >

        <!-- *************************************************************** -->
        <!-- ALFRESCO APP -->
        <!-- *************************************************************** -->
        <activity
            android:name="org.alfresco.mobile.android.application.HomeScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Internal : Sign up cloud -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="sign_up_cloud"
                    android:scheme="alfresco" />
            </intent-filter>

            <!-- Internal : Used for displaying Errors -->
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.DISPLAY_ERROR_HOMESCREEN" />
                <action android:name="org.alfresco.mobile.android.intent.DISPLAY_DIALOG_HOMESCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.hockeyapp.android.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:logo="@drawable/ic_alfresco"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Internal : Used for refresh UI component -->
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.ACTION_REFRESH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.alfresco.mobile.android.intent.CATEGORY_REFRESH_ALL" />
                <category android:name="org.alfresco.mobile.android.intent.CATEGORY_REFRESH_OTHERS" />
                <category android:name="org.alfresco.mobile.android.intent.CATEGORY_REMOVE_AND_REFRESH" />
                <category android:name="org.alfresco.mobile.android.intent.CATEGORY_REFRESH_DELETE" />

                <data android:mimeType="org.alfresco.mobile.android/object.account" />
                <data android:mimeType="org.alfresco.mobile.android/object.node" />
                <data android:mimeType="org.alfresco.mobile.android/object.file" />
            </intent-filter>

            <!-- Internal : Used for displaying Errors -->
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.DISPLAY_ERROR" />
                <action android:name="org.alfresco.mobile.android.intent.DISPLAY_DIALOG" />
                <action android:name="org.alfresco.mobile.android.intent.REMOVE_FRAGMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Internal : Used for displaying User Authentication Form -->
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.ACTION_USER_AUTHENTICATION" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.alfresco.mobile.android.intent.CATEGORY_OAUTH" />
                <category android:name="org.alfresco.mobile.android.intent.CATEGORY_OAUTH_REFRESH" />

                <data android:mimeType="org.alfresco.mobile.android/object.account" />
            </intent-filter>

            <!-- Internal : Used for Cloud activation -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="activate-cloud-account"
                    android:scheme="alfresco" />
            </intent-filter>

            <!-- Internal : Sign up cloud -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="sign_up_cloud_i"
                    android:scheme="alfresco" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".preferences.Prefs"
            android:exported="false"
            android:label="@string/app_name" />

        <!-- Public : Official entry point for 3rd party application -->
        <activity
            android:name=".integration.PublicDispatcherActivity"
            android:exported="true"
            android:icon="@drawable/ic_alfresco_logo"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:logo="@drawable/ic_alfresco_logo"
            android:theme="@android:style/Theme.Holo.Light.Dialog.MinWidth" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            
              <!-- Internal : Used for displaying Errors -->
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.DISPLAY_ERROR_IMPORT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Private Services for upload and notification. -->
        <service
            android:name=".integration.upload.UploadService"
            android:exported="false" />
        
         <service
            android:name=".utils.ProgressNotification"
            android:exported="false" />
        
        <receiver 
        android:name=".fragments.actions.NodeActions$DownloadReceiver"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
         </intent-filter>
     </receiver>
       
    </application>

</manifest>