<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.alfresco.mobile.android.application"
    android:versionCode="40"
    android:versionName="1.5.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Create AlfrescoAccount & retrieve AlfrescoAccount informations -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Responsible for sync operations -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <application
        android:name="org.alfresco.mobile.android.application.AlfrescoApplication"
        android:allowBackup="false"
        android:configChanges="locale|keyboardHidden|orientation|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_alfresco_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/ic_alfresco"
        android:theme="@style/MainTheme" >

        <!-- *************************************************************** -->
        <!-- ALFRESCO APP -->
        <!-- *************************************************************** -->
        <activity
            android:name="org.alfresco.mobile.android.application.activity.HomeScreenActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" >

            <!-- Internal : Sign up cloud -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="sign_up_cloud"
                    android:scheme="alfresco" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="view_help_guide"
                    android:scheme="alfresco" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.alfresco.mobile.android.application.activity.MainActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:logo="@drawable/ic_alfresco"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" /> 
                <data android:scheme="alfrescoFujitsuScanCallback" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.ACTION_SYNCHRO_DISPLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Internal : Used for Cloud activation. Only for this part we have to use exported = true -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="activate-cloud-account"
                    android:scheme="alfresco" />
            </intent-filter>

            <!-- Internal : Sign up cloud -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="sign_up_cloud_i"
                    android:scheme="alfresco" />
            </intent-filter>
        </activity>

        <!-- Private : Passcode Activity -->
        <activity
            android:name=".security.PassCodeActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <!-- Private : Text Editor Activity -->
        <activity
            android:name="org.alfresco.mobile.android.application.editors.text.TextEditorActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/file_editor_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <!-- Public : Official entry point for 3rd party application -->
        <activity
            android:name="org.alfresco.mobile.android.application.activity.PublicDispatcherActivity"
            android:configChanges="locale|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:icon="@drawable/ic_alfresco_logo"
            android:label="@string/app_name"
            android:logo="@drawable/ic_alfresco_logo"
            android:theme="@style/MainTheme.Dialog"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <!-- Internal : Activity As a Dialog -->
        <activity
            android:name="org.alfresco.mobile.android.application.activity.PrivateDialogActivity"
            android:exported="false"
            android:icon="@drawable/ic_alfresco_logo"
            android:label="@string/app_name"
            android:logo="@drawable/ic_alfresco_logo"
            android:theme="@style/MainTheme.Dialog"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.ACTION_DISPLAY_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.ACTION_DISPLAY_OPERATIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.ACTION_START_PROCESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             <intent-filter>
                <action android:name="org.alfresco.mobile.android.intent.ACTION_EDIT_NODE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- *************************************************************** -->
        <!-- CONTENT PROVIDER -->
        <!-- *************************************************************** -->
        <provider
            android:name="org.alfresco.mobile.android.application.providers.FavoritesSyncProviderImpl"
            android:authorities="org.alfresco.mobile.android.provider.sync"
            android:exported="false"
            android:label="@string/sync_favorites"
            android:syncable="true" />
         <provider
            android:name="org.alfresco.mobile.android.application.providers.MimeTypeProviderImpl"
            android:authorities="org.alfresco.mobile.android.provider.mimetypes"
            android:exported="false" />
        <provider
            android:name="org.alfresco.mobile.android.application.providers.OperationsProviderImpl"
            android:authorities="org.alfresco.mobile.android.provider.operations"
            android:exported="false" />
        <provider
            android:name="org.alfresco.mobile.android.application.providers.search.HistorySearchProvider"
            android:authorities="org.alfresco.mobile.android.provider.searches"
            android:exported="false" />
        <provider
            android:name="org.alfresco.mobile.android.application.providers.storage.StorageAccessDocumentsProvider"
            android:authorities="org.alfresco.android.provider.documents"
            android:enabled="@bool/atLeastKitKat"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!-- *************************************************************** -->
        <!-- Internal : SERVICES -->
        <!-- *************************************************************** -->
        <service
            android:name="org.alfresco.mobile.android.sync.FavoritesSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/favorites_sync_adapter" />
        </service>

        <!-- Private Service for cleaning temporary data. -->
        <service
            android:name="org.alfresco.mobile.android.persistence.io.DataCleanerService"
            android:exported="false" />

        <!-- Used For AlfrescoAccount Authentication -->
        <service
            android:name="org.alfresco.mobile.android.application.accounts.AccountAuthenticationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- *************************************************************** -->
        <!-- EXTENSION : SAMSUNG -->
        <!-- *************************************************************** -->
        <!-- SAMSUNG Multi Windows. -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" >
        </uses-library>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />

        <!-- *************************************************************** -->
        <!-- DEPRECATED -->
        <!-- *************************************************************** -->
        <!-- Accounts are managed by Android AccountManager. -->
        <!-- Still available for migration from older version. (version <1.5) -->
        <provider
            android:name="org.alfresco.mobile.android.application.providers.AccountProviderImpl"
            android:authorities="org.alfresco.mobile.android.provider.accounts"
            android:exported="false" />
    </application>
 
</manifest>
