<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.alfresco.mobile.android.application.extension.hockeyapp">

    <application>
        <!-- Internal : Hockeyapp Integration -->
        <activity
            android:name="net.hockeyapp.android.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="net.hockeyapp.android.FeedbackActivity"
            android:exported="false" />
    </application>

</manifest>
