<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.alfresco.mobile.android.foundation">

    <uses-sdk tools:overrideLibrary="android.support.v13" />

    <!-- Create AlfrescoAccount & retrieve AlfrescoAccount informations -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

</manifest>
